In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

## Load Data

In [18]:
data_url1 = "./sensor_data_temp.log"
df1 = pd.read_csv(data_url1, sep=" ", header=None)

In [19]:
df1.head(10)

            0         1       2       3      4
0  2022-09-14  19:33:07  T=22.0  H=20.0  TO=45
1  2022-09-14  19:38:10  T=22.0  H=20.0  TO=45
2  2022-09-14  19:43:11  T=22.0  H=26.0  TO=45
3  2022-09-14  19:48:14  T=22.0  H=26.0  TO=45
4  2022-09-14  19:53:15  T=22.0  H=20.0  TO=45
5  2022-09-14  19:58:15  T=22.0  H=23.0  TO=45
6  2022-09-14  20:03:16  T=22.0  H=20.0  TO=45
7  2022-09-14  20:08:17  T=22.0  H=23.0  TO=45
8  2022-09-14  20:13:17  T=21.0  H=20.0  TO=45
9         NaN  20:18:18  T=21.0  H=21.0  TO=45

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       335 non-null    object
 1   1       336 non-null    object
 2   2       336 non-null    object
 3   3       320 non-null    object
 4   4       282 non-null    object
dtypes: object(5)
memory usage: 13.2+ KB

In [21]:
df1.describe()

                 0         1       2       3      4
count          335       336     336     320    282
unique           6       331      26      22      1
top     2022-09-15  23:08:46  T=21.0  H=21.0  TO=45
freq           284         2      41      52    282

In [22]:
# Raname Columns
df1.columns = ['Date', 'Time', 'Temp', 'Hum', 'TO']

In [23]:
# Missing Values TEST
for col in df1.columns:
    pct_missing = np.mean(df1[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Date - 0%
Time - 0%
Temp - 0%
Hum - 5%
TO - 16%

In [24]:
data_url = "./sensor_data_temp.log"
df = pd.read_csv(data_url, sep=" ", header=None)

In [13]:
class CheckDataQuality:
    def __init__(self, dataframe):
        self.dataframe = dataframe
        
    def rename_columns(self):
        try:
            self.dataframe.columns = ['Date', 'Time', 'Temp', 'Hum', 'TO']
            print(df)
            return print("Columns renamed successfully!")
        except:
            print(df)
            return print("Something went wrong!")
        
    def create_timestamp(self):
        
        
    def check_duplicates(self):
        if duplicates:
            print("Duplicates found!")
        else:
            print("No duplicates found!")
            
    def check_timestamps(self):
        if timestamps:
            print("Incorrect timestamps found!")
        else:
            print("No incorrect timestamps found!")
            
    def check_missingvalues(self):
        if missingvalues:
            print("Missing values found!")
        else:
            print("No missing values found!")

    def check_outliers(self):
        if outliers:
            print("Outliers found!")
        else:
            print("No outliers found!")
            
    def check_sensorquality(self):
        if sensorquality:
            print("Drifting values found!")
        else:
            print("No drifting values found!")
            
    def check_wrongvalues(self):
        if wrongwalues:
            print("Wrong values found!")
        else:
            print("No wrong values found!")

In [14]:
test1 = CheckDataQuality(df)

In [15]:
test1.rename_columns()

           Date      Time    Temp     Hum     TO
0    2022-09-14  19:33:07  T=22.0  H=20.0  TO=45
1    2022-09-14  19:38:10  T=22.0  H=20.0  TO=45
2    2022-09-14  19:43:11  T=22.0  H=26.0  TO=45
3    2022-09-14  19:48:14  T=22.0  H=26.0  TO=45
4    2022-09-14  19:53:15  T=22.0  H=20.0  TO=45
..          ...       ...     ...     ...    ...
331  2022-09-15  23:48:51  T=18.0  H=28.0  TO=45
332  2022-09-15  23:53:51  T=18.0  H=22.0  TO=45
333  2022-09-15  23:58:52  T=18.0  H=22.0  TO=45
334  2022-09-16  00:03:52  T=18.0  H=22.0  TO=45
335  2022-09-16  00:08:53  T=18.0  H=22.0  TO=45

[336 rows x 5 columns]
Columns renamed successfully!

In [16]:
print(df)

           Date      Time    Temp     Hum     TO
0    2022-09-14  19:33:07  T=22.0  H=20.0  TO=45
1    2022-09-14  19:38:10  T=22.0  H=20.0  TO=45
2    2022-09-14  19:43:11  T=22.0  H=26.0  TO=45
3    2022-09-14  19:48:14  T=22.0  H=26.0  TO=45
4    2022-09-14  19:53:15  T=22.0  H=20.0  TO=45
..          ...       ...     ...     ...    ...
331  2022-09-15  23:48:51  T=18.0  H=28.0  TO=45
332  2022-09-15  23:53:51  T=18.0  H=22.0  TO=45
333  2022-09-15  23:58:52  T=18.0  H=22.0  TO=45
334  2022-09-16  00:03:52  T=18.0  H=22.0  TO=45
335  2022-09-16  00:08:53  T=18.0  H=22.0  TO=45

[336 rows x 5 columns]